<table>
    <tr>
        <td>Ware</td>
        <td>Preis</td>
    </tr>
    <tr ng-repeat="offer in cityOffers()">
        <td>
            <itemsquare item="{type: offer.type}"
                quant="offer.quant" />
        </td>
        <td>
            <price value="offer.price" />
        </td>
    </tr>
</table>

<table class="table table-condensed">
    <tr>
        <td>Zivile Einheiten</td>
        <td></td>
    </tr>
    <tr ng-repeat="unit in civilUnits()">
        <td class="square-td">
            <unitsquare unit="unit"
                hover="true" />
        </td>
        <td>
            <div class="pull-right">
                <div ng-hide="$root.selectedUnit.id == unit.id"
                    class="btn btn-sm btn-default"
                    ng-click="$root.selectedUnit = unit">
                    <span class="glyphicon glyphicon-transfer"></span> Waren austauschen</div>
                <div ng-show="$root.selectedUnit.id == unit.id">
                    <div class="btn btn-sm btn-default"
                        ng-click="$root.selectedUnit = null"><span class="glyphicon glyphicon-remove"></span></div>
                </div>
                <div class="btn btn-sm btn-default"
                    data-dismiss="modal"
                    ng-click="$root.selectedUnit = unit">
                    Ziel wählen
                </div>
            </div>
        </td>
    </tr>
</table>