<div ng-click="utilService.toggleSelectOrder(order);"
     ng-mouseover="hover=true"
     ng-mouseleave="hover=false">
    <table>
        <tr>
            <td>
                <div class="orderball" ng-class="{'selectedOrderball':order.id==$root.selectedOrder.id, 'moveball':order.type==0, 'atackball':order.type==1}"></div>
            </td>
            <td ng-show="order.id==$root.selectedOrder.id || hover">
                <span class="glyphicon glyphicon-hourglass"></span>
                {{order.duration.toFixed(0)}}s
                <span>
                    <span ng-show="order.type==0">
                        Unterwegs nach {{$root.planets[order.targetplanet].name}}
                    </span>
                    <span ng-show="order.type==1">
                        Angriff auf {{$root.planets[order.targetplanet].name}}
                    </span>
                </span>
            </td>

        </tr>
        <tr ng-show="order.id==$root.selectedOrder.id">
            <td></td>
            <td>
                <span ng-repeat="unit in $root.units"
                      ng-show="unit.order == order.id">
                    {{unit.type}}
                </span>
            </td>
        </tr>
    </table>
</div>
