<div style="color:white; padding: 20px;position:fixed; bottom:0; left:0;" ng-mouseleave="hover=false">
    <div style="width: 60px; height:40px" ng-mouseover="hover=true">
        <span class="glyphicon" ng-class="{'glyphicon-retweet':$root.selectedUnit.profession == 'Händler'}" style="font-size: 40px"></span>
    </div>
    <div style="background:rgba(0,0,0,0.8);" ng-show="hover">
        {{$root.units[$root.selectedUnitKey].profession}}
        {{$root.units[$root.selectedUnitKey].name}}
        <br />
        <table>
            <tr ng-repeat="item in $root.units[$root.selectedUnitKey].items">
                <td >
                    <itemsquare ng-show="item.quant>0" item="item" />
                </td>
                <td>
                    <price value="item.priceMean"></price>
                </td>
            </tr>
        </table>
    </div>

</div>