<div style="position: relative">
    <div ng-style="{'left': (-markerSize()/2 + 25)+'px' , 'top': (-markerSize()/2 + 25)+'px'}"
        style="position: absolute;"
        ng-click="$root.selectedCity = city;"
        data-toggle="modal" data-target="#cityModal"
        ng-right-click="rightclickCity()"
        ng-dblclick="$event.stopPropagation();"
        ng-mouseover="hoverCity(true);hover=true;"
        ng-mouseleave="hoverCity(false);hover=false;">

        <div style='color:black; font-size:12px; position:relative; background-position: center center;'
            ng-style="{ 'background':'url(/img/icon/cities/city'+(city.population-1)+'.png) no-repeat', 
                    'background-size': markerSize() + 'px ' + markerSize() + 'px',
                    'width':markerSize()+'px',
                    'height':markerSize()+'px'}"
            ng-class="{'cityWithUnit':uiService.playerHasUnitOnCity()}"
            class="hoverpointer">
            <div ng-show="mapService.zoomlevel==12" style="text-align: center;">
                <div style="padding-top: 150px;">
                    <div ng-style="{'background': 'url(img/icon/banner.png) no-repeat', 'background-size': '200px auto'}"  
                        style="background-position: bottom; height: 36px; padding-top: 2px;"
                        ng-class="{'bg-success':city.owner==$root.player.id}">
                        {{city.name}}
                    </div>
                </div>
                <span ng-show="city.helptext" class="glyphicon glyphicon-info-sign"></span>
                {{city.helptext}}

                <div class="label label-primary" ng-show="playersCivilUnitsCount()" style="font-size: 100%; display:block;">
                    {{playersCivilUnitsCount()}} Händler in der Stadt
                </div>
                <div class="label label-success" ng-show="cityOffersCount()" style="font-size: 100%; display:block;">
                    {{cityOffersCount()}} Handelsangebote
                </div>
            </div>
        </div>
    </div>
</div>