<div style="position: relative">
    <div 
        style="position: absolute; left: {{-markerSize()/2 + 25}}px; top: {{-markerSize()/2+ 25}}px"
        ng-click="$root.selectedPlanet = planet;" 
        ng-right-click="rightclickPlanet(planet)" 
        data-toggle="modal" data-target="#planetModal"
        ng-dblclick="$event.stopPropagation();" 
        ng-mouseover="hoverPlanet(planet,true);hover=true;" 
        ng-mouseleave="hoverPlanet(planet,false);hover=false;">
        
        <div style='
    width: {{markerSize()}}px; 
    height:{{markerSize()}}px; 
    background: url("/img/icon/cities/city{{planet.population-1}}.png") no-repeat; 
    background-size: {{markerSize()}}px {{markerSize()}}px; background-position: center center;'
            ng-class="{'planetWithUnit':uiService.playerHasUnitOnPlanet(planet),'homePlanet':planet.owner==$root.player.id}"
            ng-click="$root.planetSync(planet.id);$root.playerSync();" class="hoverpointer">
        </div>
    </div>
</div>