<table ng-show="$root.selectedUnit.planet == $root.selectedPlanet.id" class="table table-condensed">
    <tr>
        <td>Planet</td>
        <td style="text-align: right">Umladen</td>
        <td>
            Laderaum
            <span class="text-danger" ng-show="$root.selectedUnit.itemquantsum >= $root.settings.units[selectedUnit.type].storage">
                {{$root.selectedUnit.itemquantsum}} / {{$root.settings.units[selectedUnit.type].storage}}
            </span>
        </td>
    </tr>
    <tr ng-repeat="(id,item) in $root.planets[$root.selectedPlanet.id].items">
        <!--Planet-->
        <td class="square-td">
            <itemsquare planetquant="item.quant" item="item" quant="" />
        </td>
        <!--Umladen-->
        <td class="btn-td">
            <div class="btn-group" style="float: right">
                <button ng-click="menge=$root.selectedUnit.items[item.type].quant; tradeService.moveitems(item,-Math.abs(menge));"
                     ng-disabled="!$root.selectedUnit.items[item.type].quant || item.quant+menge>item.storage"
                     class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    max
                </button>
                <button ng-click="tradeService.moveitems(item,-Math.abs(menge));"
                     ng-disabled="!$root.selectedUnit.items[item.type].quant || $root.selectedUnit.items[item.type].quant<menge || item.quant+menge>item.storage"
                     class="btn btn-sm btn-default">
                    Abladen
                </button>
                <button class="btn btn-sm btn-default" style="padding: 5px 2px;">
                    <input type="number" ng-model="menge" class="input-sm" ng-click="$event.stopPropagation();"/>
                </button>
                <button ng-disabled="item.quant<menge || $root.selectedUnit.itemquantsum+menge>$root.settings.units[selectedUnit.type].storage"
                     class="btn btn-sm btn-default"
                     ng-click="tradeService.moveitems(item,Math.abs(menge));;">
                    Aufladen 
                </button>
                <button ng-click="menge=$root.settings.units[selectedUnit.type].storage-$root.selectedUnit.itemquantsum; tradeService.moveitems(item,Math.abs(menge));"
                        ng-disabled="item.quant<menge || $root.selectedUnit.itemquantsum+menge>$root.settings.units[selectedUnit.type].storage"
                        class="btn btn-sm btn-default">
                    max <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </td>
        <!--Laderaum-->
        <td class="square-td" style="width: 50px;">
            <itemsquare item="item" quant="$root.selectedUnit.items[id].quant" />
        </td>
    </tr>
</table>
<table ng-hide="$root.selectedUnit.planet == $root.selectedPlanet.id" class="table table-condensed">
    <tr>
        <td>Planet</td>
        <td></td>
        <td>Angebote</td>
        <td style="text-align: right;">Anpassen</td>
    </tr>
    <tr ng-repeat="(id,item) in $root.planets[$root.selectedPlanet.id].items">
        <!--Planet-->
        <td class="square-td">
            <itemsquare planetquant="item.quant" item="item" quant="" />
        </td>
        <!--Angebote Pfeile-->
        <td style="padding: 4px 0 0 0; width: 30px;">
            <span title="Zum Kauf angeboten" ng-if="item.offer<0" class="glyphicon glyphicon-chevron-left text-danger" style="font-size: 25px;"></span>
            <span title="Zum Verkauf angeboten" ng-if="item.offer>0" class="glyphicon glyphicon-chevron-right text-success" style="font-size: 25px;"></span>
        </td>
        <!--Angebote-->
        <td class="square-td">
            <itemsquare item="item" quant="Math.abs(item.offer)" ng-show="item.offer!=0" itemprice="item.price*item.offer"></itemsquare>
        </td>
        <!--Verkauf-->
        <td class="btn-td">
            <div ng-show="editPrice" style="float: right;">
                <div class="input-group input-group-sm" style="width: 220px;">
                    <input class="form-control" type="number" min="1"
                           ng-model="item.setOffer"
                           ng-init="item.setOffer=Math.abs(item.offer||100)" />
                    <span class="input-group-addon">Kiste{{item.setOffer>1?'n':''}}</span>
                </div>
                <div class="input-group input-group-sm" style="width: 220px;">
                    <input class="form-control" type="number" min="1" ng-model="item.price" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-xbt" />pro Kiste</span>
                </div>
                <div class="btn-group">
                    <div ng-disabled="!item.setOffer"
                         ng-click="tradeService.setPrice(item,false); editPrice=false;"
                         class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-chevron-left" />
                        Kaufen
                    </div>
                    <div ng-disabled="item.offer==0"
                         class="btn btn-sm btn-default"
                         ng-click="item.setOffer=0; editPrice=false; tradeService.setPrice(item);"
                         style="padding: 5px;">
                        <span class="glyphicon glyphicon-ban-circle" />
                        Stop
                    </div>
                    <div ng-disabled="!item.setOffer"
                         ng-click="tradeService.setPrice(item,true); editPrice=false;"
                         class="btn btn-sm btn-success">
                        Verkaufen
                        <span class="glyphicon glyphicon-chevron-right" />
                    </div>
                </div>
            </div>
            <div ng-hide="editPrice" class="btn btn-sm btn-default" ng-click="editPrice=true" style="display: inline-block; float: right">
                <span class="glyphicon glyphicon-tag" />
                Angebote anpassen
            </div>
        </td>
    </tr>
</table>
