<div ng-hide="uiService.planetHasOffers()">
    Dieser Planet hat keine Handelsangebote
</div>
<table ng-show="uiService.planetHasOffers()"
       class="table table-condensed"
       ng-init="menge=1"
       style="width: 100%">
    <tr>
        <td>Angebote</td>
        <td><!--Pfeile--></td>
        <td>Preis</td>
        <td style="width:200px;"><!--Button--></td>
        <td>Ladung</td>
    </tr>
    <tr ng-repeat="(id,item) in $root.planets[$root.selectedPlanet.id].items"
        ng-show="item.offer!=0">
        <!--Angebote-->
        <td style="padding: 0 4px;">
            <itemsquare item="item" quant="Math.abs(item.offer)"></itemsquare>
        </td>
        <!--Pfeile-->
        <td>
            <span title="Wird gekauft" ng-if="item.offer<0" class="glyphicon glyphicon-chevron-left text-success" style="font-size:25px;"></span>
            <span title="Wird verkauft" ng-if="item.offer>0" class="glyphicon glyphicon-chevron-right text-danger" style="font-size:25px;"></span>
        </td>
        <!--Handel-->
        <td>
            <price value="(item.offer<0?'':'-')+item.price*menge"></price>
        </td>
        <!--Button-->
        <td style="width:200px;">
            <div class="btn-group pull-right"
                 ng-show="$root.selectedUnit.planet==$root.selectedPlanet.id">
                <button class="btn btn-sm btn-default" 
                        ng-click="menge=Math.abs(item.offer)" 
                        ng-disabled="!tradeService.tradeOk(item, menge)">max</button>
                <button class="btn btn-sm btn-default" style="width: 130px; text-align:left;"
                        ng-disabled="!tradeService.tradeOk(item, menge)"
                        ng-click="tradeService.saveTrade(item, menge); menge=1;">
                    <input ng-click="$event.stopPropagation();" type="number" ng-model="menge" class="input-sm" min="1" />
                    {{item.offer>0?'Kaufen':'Verkaufen'}}
                </button>
            </div>
        </td>
        <!--Ladung-->
        <td class="square-td" style="width: 75px">
            <itemsquare item="$root.selectedUnit.items[id]" quant="$root.selectedUnit.items[id].quant" />
        </td>
    </tr>
</table>