<div style="margin-bottom: 20px;">
    <div ng-hide="editinfo">
        <button ng-show="planet.owner==$root.player.id" class="btn btn-default pull-right" ng-click="editinfo=true; setinfo=planet.info">
            <span class="glyphicon glyphicon-pencil"></span>
        </button> {{planet.info}}
    </div>
    <div ng-show="editinfo">
        <div class="btn-group pull-right" ng-click="editinfo=false">
            <button class="btn btn-default " ng-click="updatePlanetInfo(setinfo);">
                Speichern
            </button>
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        <br />
        <input type="text" class="form-control" ng-model="setName" placeholder="Planeten Name" maxlength="50" />
        <textarea class="form-control" ng-model="setInfo" placeholder="Planeten Beschreibung" maxlength="500" />
    </div>
    <table class="table table-condensed">
        <tr><td>Bevölkerung</td><td>Konsumiert</td><td>Generiert</td></tr>
        <tr>
            <td>{{planet.population}}</td>
            <td><itemsquare item="{type: type}" ng-repeat="(type,quant) in planet.consumes" quant="-planet.population * quant * $root.settings.consumePerMinute" /></td>
            <td><price value="$root.player.income" /></td>
        </tr>
    </table>
</div>