<table class="table table-condensed">
    <tr>
        <td>Planet</td>
        <td style="text-align: right">Umladen</td>
        <td>
            Laderaum
            <span class="text-danger" ng-show="$root.selectedUnit.itemquantsum >= $root.settings.units[selectedUnit.type].storage">
                {{$root.selectedUnit.itemquantsum}} / {{$root.settings.units[selectedUnit.type].storage}}
            </span>
        </td>
    </tr>
    <tr ng-repeat="(id,item) in $root.planets[$root.selectedPlanet.id].items">
        <!--Planet-->
        <td class="square-td">
            <itemsquare item="item" quant="item.quant" />
        </td>
        <!--Umladen-->
        <td class="btn-td">
            <div class="btn-group" style="float: right">
                <button ng-click="menge=$root.selectedUnit.items[item.type].quant; tradeService.moveitems(item,-Math.abs(menge));"
                     ng-disabled="!$root.selectedUnit.items[item.type].quant || item.quant+menge>item.storage"
                     class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    max
                </button>
                <button ng-click="tradeService.moveitems(item,-Math.abs(menge));"
                     ng-disabled="!$root.selectedUnit.items[item.type].quant || $root.selectedUnit.items[item.type].quant<menge || item.quant+menge>item.storage"
                     class="btn btn-sm btn-default">
                    Abladen
                </button>
                <button class="btn btn-sm btn-default" style="padding: 5px 2px;">
                    <input type="number" ng-model="menge" class="input-sm" ng-click="$event.stopPropagation();"/>
                </button>
                <button ng-disabled="item.quant<menge || $root.selectedUnit.itemquantsum+menge>$root.settings.units[selectedUnit.type].storage"
                     class="btn btn-sm btn-default"
                     ng-click="tradeService.moveitems(item,Math.abs(menge));;">
                    Aufladen 
                </button>
                <button ng-click="menge=$root.settings.units[selectedUnit.type].storage-$root.selectedUnit.itemquantsum; tradeService.moveitems(item,Math.abs(menge));"
                        ng-disabled="item.quant<menge || $root.selectedUnit.itemquantsum+menge>$root.settings.units[selectedUnit.type].storage"
                        class="btn btn-sm btn-default">
                    max <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </td>
        <!--Laderaum-->
        <td class="square-td" style="width: 50px;">
            <itemsquare item="item" quant="$root.selectedUnit.items[id].quant" />
        </td>
    </tr>
</table>