<table class="table table-condensed">
    <tr>
        <td class="text-td">Einheiten</td>
        <td></td>
        <td>
            <button class="btn btn-sm btn-default pull-right" ng-click="showAllUnits=!showAllUnits">
                <span class="glyphicon glyphicon-eye-{{showAllUnits?'close':'open'}}"></span>
                {{showAllUnits?'Nur Händler anzeigen':'Alle anzeigen'}}
            </button>
        </td>
    </tr>
    <tr ng-repeat="(k,unit) in $root.units"
        ng-init="unitsetting=$root.settings.units[unit.type]"
        ng-show="unit.planet==$root.selectedPlanet.id && ($root.settings.units[unit.type].atack==0 || showAllUnits)">
        <td class="square-td" style="width: 350px;">
            <unitsquare unittype="unit.type"></unitsquare>
        </td>
        <td>
            <span ng-show="unit.itemquantsum>=unitsetting.storage*0.8" class="glyphicon glyphicon-exclamation-sign text-danger"></span>
            {{unit.itemquantsum}} / {{unitsetting.storage}}
            <span class="glyphicon glyphicon-oil"></span>
        </td>
        <td class="btn-td">
            <div class="btn-group pull-right">
                <div class="btn btn-sm btn-default"
                     data-dismiss="modal"
                     ng-click="utilService.selectUnit(unit);">
                    <span class="glyphicon glyphicon-transfer"></span>
                    Bewegen
                </div>
                <div class="btn btn-sm btn-default"
                     ng-class="{'btn-success':unit.id == $root.selectedUnit.id}"
                     ng-click="utilService.toggleUnit(unit);">
                    <span class="glyphicon glyphicon-retweet"></span>
                    {{$root.selectedPlanet.owner==$root.player.id?'Waren austauschen':'Handeln'}}
                </div>
            </div>
        </td>
    </tr>
</table>