<div id="messagesmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label>Nachrichten</label><br />
            </div>
            <div class="modal-body">
                <div ng-repeat="proposal in $root.player.contractProposals" ng-if="proposal" class="alert alert-sm alert-info">
                    Eine Bote von <b>{{$root.players[proposal.from].name}}</b> bringt euch folgende Nachricht:<br><br>
                    <contractproposal proposal="proposal" />                
                </div>
                <div ng-repeat="message in $root.player.messages"
                     class="alert alert-info">
                    <div ng-click="deleteMessage(message);" class="close">&times;</div>
                    {{message.timestamp}} 
                    Eine Bote von <b>{{message.from?$root.players[message.from].name:'der Schlacht'}}</b> 
                    brachte euch am {{printDate(message.date) | date:'dd.MM.yyyy HH:mm'}} Uhr folgende Nachricht:<br><br>                    
                    {{message.message}}
                    
                    <contractproposal proposal="message.data.proposal" ng-if="message.data.proposal" hidebuttons="true"/>                                    
                </div>
            </div>
        </div>
    </div>
</div>