<div id="messagesmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label>Nachrichten</label><br />
            </div>
            <div class="modal-body">
                <div ng-repeat="proposal in $root.player.contractProposalsToMe" class="alert alert-sm alert-info">
                    <strong>Politisches Angebot!</strong><br>
                    {{$root.players[proposal.from].name}} schlägt euch ein <b>{{proposal.contract}}</b> vor.<br>
                    Dieser wird bis zum {{printDate(proposal.validUntil) | date:'dd.MM.yyyy HH:mm'}} Uhr gelten.<br>
                    <span ng-show="proposal.costs < 0">Dafür bekommt ihr {{proposal.costs}} Gold bezahlt.</span>
                    <span ng-show="proposal.costs > 0">Dafür müsst ihr {{proposal.costs}} Gold bezahlen.</span><br>
                    <span ng-show="proposal.threatenWithWar" class="text-danger">Falls Ihr ablehnt droht euch {{$root.players[proposal.from].name}} mit Krieg!</span>
                    <br><br>
                    <span class="btn btn-primary pull-right">Annehmen</span>                    
                    <span class="btn btn-primary" ng-class="{'btn-danger':proposal.threatenWithWar}">Ablehnen</span>                    
                </div>
                <div ng-repeat="message in $root.player.messages"
                     class="alert alert-info">
                    <div ng-click="playerService.deleteMessage(message);" class="close">&times;</div>
                    <b>{{message.from?message.from:"Kampfbericht"}}</b>
                    {{message.timestamp}}
                    <br />
                    {{message.message}}
                </div>
            </div>
        </div>
    </div>
</div>