<!-- Panet modal-->
<div id="planetModal" class="modal fade" role="dialog" ng-init="show='manager'">
    <div class="modal-dialog" style="min-width:800px; margin-top:0;">
        <div class="modal-content">
            <div class="modal-header coverbg"
                 ng-class="{'coverbgbig':coverbgbig}"
                 style="background:#000;"
                 ng-style="{'background-image':'url(/img/planet/'+show.replace('modal','')+'/'+ $root.selectedPlanet.type +'.jpg)'}">
                <div class="btn-group pull-right" style="margin-top: 3px;">
                    <div class="btn" ng-click="coverbgbig=!coverbgbig" style="color:white"><span class="glyphicon glyphicon-resize-{{coverbgbig?'small':'full'}}"></span></div>
                    <div class="btn" data-dismiss="modal" style="color:white"><span class="glyphicon glyphicon-remove"></span></div>
                </div>

                <ul class="nav nav-tabs nav-blackbg" ng-click="$event.stopPropagation();">
                    <li ng-class="{'active':show=='manager'}" ng-click="show='manager'">
                        <a><span class="glyphicon glyphicon-globe"></span> {{$root.selectedPlanet.name}}</a>
                    </li>
                    <li ng-class="{'active':$parent.show=='units'}"
                        ng-click="$parent.show='units'"
                        ng-if="uiService.playerHasUnitOnPlanet($root.selectedPlanet, 'Fighter') || $root.selectedPlanet.owner == $root.player.id">
                        <a><span class="glyphicon glyphicon-align-justify"></span> Flotte</a>
                    </li>
                    <li ng-class="{'active':$parent.show=='buildings'}"
                        ng-click="$parent.show='buildings'"
                        ng-if="$root.selectedPlanet.owner == $root.player.id">
                        <a><span class="glyphicon glyphicon-oil"></span> Industrie </a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <planetinfo />
                <div ng-if="$root.selectedPlanet.owner == $root.player.id">
                    <units ng-show="$parent.show=='units'"/>
                    <div ng-show="$parent.show=='manager'">
                        <unitmanger ng-show="$root.selectedUnit.planet==$root.selectedPlanet.id"></unitmanger>
                        <pricemanager ng-show="$root.selectedPlanet.owner==$root.player.id"></pricemanager>
                    </div>
                    <buildings ng-show="$parent.show=='buildings'"/>
                </div>
            </div>
        </div>
    </div>
</div>
