<div ng-if="item"
     ng-init="utilService.merge(item,$root.settings.items[item.type])"
     title="{{item.name}}">
    <table style="width: 120px;">
        <tr>
            <td style="width: 40px;">
                <div style="box-shadow:inset 0 0 2px 2px {{utilService.itemColor(item.rarity)}}; border-radius:3px; padding: 5px;margin:0px 3px">
                    <img ng-src="{{'static/img/icon/items/'+item.type+'.png'}}" style="height:25px;" />
                </div>
            </td>
            <td style="line-height: 1; width: 80px;">
                <span>
                    {{utilService.shortNumber(quant)}}
                </span>
                <div ng-show="planetquant!=null" ng-class="{'text-danger':planetquant<-quant}">
                    <span class="glyphicon glyphicon-globe"></span>
                    {{utilService.shortNumber(planetquant)}}
                </div>
                <div ng-show="productionspeed">
                    <span class="glyphicon glyphicon-hourglass"></span>
                    {{productionspeed}}
                </div>
                <div ng-show="ordered">
                    <span class="glyphicon glyphicon-cog"></span>
                    {{utilService.shortNumber(ordered)}}
                </div>
                <div ng-show="itemprice" ng-class="{'text-danger':itemprice<0,'text-success':itemprice>0}">
                    <span class="glyphicon glyphicon-xbt"></span>
                    {{utilService.shortNumber(itemprice)}}
                </div>
            </td>
        </tr>
    </table>
</div>