<div ng-if="item"
     title="{{settings().name}}">
    <table style="width: 120px;">
        <tr>
            <td style="width: 40px;">
                <div style="border-radius:3px; padding: 2px;margin:0px 3px">
                    <img ng-if="item.type" ng-src="{{'img/icon/items/'+item.type+'.png'}}" style="height:31px; width:31px;" />
                </div>
            </td>
            <td style="line-height: 1; width: 80px;">
                <span ng-class="{'text-danger':quant<0}">
                    {{quant?utilService.shortNumber(quant):settings().name}}
                </span>
                <div title="In der Stadt" ng-show="!hidecityquant && $root.selectedCity" ng-class="{'text-danger': cityMissingQuant()}">
                    <span class="glyphicon glyphicon-home"></span>
                    {{utilService.shortNumber(Math.floor(cityitem().quant))}}
                </div>
                <div ng-show="itemprice" ng-class="{'text-danger':itemprice<0,'text-success':itemprice>0}">
                    <span class="glyphicon glyphicon-xbt"></span>
                    {{utilService.shortNumber(itemprice)}}
                </div>
            </td>
        </tr>
    </table>
</div>