<div ng-if="item"
     title="{{settings().name}}">
    <table style="width: 120px;">
        <tr>
            <td style="width: 40px;">
                <div style="box-shadow:inset 0 0 2px 2px {{planetMissingQuant()?'rgba(255,0,80,1)':itemColor()}}; border-radius:3px; padding: 5px;margin:0px 3px">
                    <img ng-if="item.type" ng-src="{{'img/icon/items/'+item.type+'.png'}}" style="height:25px;" />
                </div>
            </td>
            <td style="line-height: 1; width: 80px;">
                <span ng-class="{'text-danger':quant<0}">
                    {{utilService.shortNumber(quant)}}
                </span>
                <div title="Auf dem Planeten" ng-show="!hideplanetquant && $root.selectedPlanet" ng-class="{'text-danger': planetMissingQuant()}">
                    <span class="glyphicon glyphicon-globe"></span>
                    {{utilService.shortNumber(Math.floor(planetitem().quant))}}
                </div>
                <div ng-show="itemprice" ng-class="{'text-danger':itemprice<0,'text-success':itemprice>0}">
                    <span class="glyphicon glyphicon-xbt"></span>
                    {{utilService.shortNumber(itemprice)}}
                </div>
            </td>
        </tr>
    </table>
</div>