<div style="display:inline-block;"
     class="text-blue"
     title="Bits">
    <table>
        <tr>
            <td>
                <span class="glyphicon glyphicon glyphicon-xbt" ng-class="{'text-success':value>0, 'text-danger':value<0}" style="height:25px; font-size:21px;" />
            </td>
            <td style="line-height: 1;">
                <span ng-class="{'text-danger':$root.player.gold+value<0,'text-success':value>0, 'text-danger':value<0}">{{value>0?'+':''}}{{value}}</span>
                <div>
                    {{$root.player.gold}}
                </div>
            </td>
        </tr>
    </table>
</div>