<div style="display:inline-block;"
     class="text-blue"
     title="Bits">
    <table>
        <tr>
            <td>
                <div class="glyphicon glyphicon glyphicon-xbt" style="width:40px;padding: 5px 0 0 10px; font-size:21px;" />
            </td>
            <td style="line-height: 1;">
                <span ng-class="{'text-danger':$root.player.money+value<0,'text-success':value>0, 'text-danger':value<0}">{{value>0?'+':''}}{{value}}</span>
                <div>
                    {{$root.player.money}}
                </div>
            </td>
        </tr>
    </table>
</div>