<div ng-if="unit"
     style="display:inline-block;"
     title="{{setting().name}}">
    <table>
        <tr>
            <td>
                <div style="background: #353f40;  border-radius:3px; padding: 5px;margin:0px 3px" title="unit.type">
                    <img ng-src="{{'img/icon/units/'+unit.type+'.png'}}" style="height:25px;" />
                </div>
            </td>
            <td style="line-height:1; font-size: 13px;">
                <table >
                    <tr>
                        <td>{{count}} {{setting().name}}</td>
                    </tr>
                    <tr>
                        <td style="width: 200px;" ng-hide="hideinfos">
                            <span class="glyphicon glyphicon-screenshot" title="Angriff"></span> {{setting().atack}}
                            <span class="glyphicon glyphicon-heart" title="Leben" /> {{setting().hp}}
                            <span class="glyphicon glyphicon-certificate" title="Schild"></span> {{setting().shieldpower}}
                            <span class="glyphicon glyphicon-oil" title="Lagerraum" style="height:16px;"></span> {{setting().storage}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>